footer {
    /* height: 6em; */
    /* background-color: #333; */
    background-color: #e76f51;
    border-top: 2px solid #264653;
    border-bottom: 2px solid #264653;
    font-size: 20px;
    color: white;
    text-shadow: 1px 1px 1px #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer {
    display: flex;
    flex-direction: column;

    /* text-decoration: underline; */
}

.footer-top {
    /* border: 2px solid red; */
    flex: 1 0 20%;
    /* min-width: 250px; */
    padding:0.5em 2.5%;
    display: flex;
    justify-content:space-between;

    align-items: center;
    vertical-align: middle;
}

.footer i:first-of-type  {
    font-size: 1.6em;
}

.footer:nth-child(2) {
    display: flex;
    flex-direction: column;
}

.footer:nth-child(2) i {
    font-size: 1.8em;
}

.footer p {
    /* border: 1px solid white; */
    text-align: center;
}

.footer a {
    /* border: 1px solid yellow; */
    text-decoration: none;
    color: #2a9d8f;   
    display: flex;
    justify-content: center;
    transition: transform 0.3s ease;
}

.footer:nth-child(2) a:hover {
    transform: scale(1.20);
    z-index: 1;
}

.footer:nth-child(4) a:hover {
    transform: scale(1.08);
    z-index: 1;
}

.mailto {
    display: flex;
}

.mailto i:nth-child(2) {
    margin: auto 0.5em;
}

.footer-links {
    display: flex;
}

.footer-links p {
    margin: auto 0.5em;
}

.footer-links ul {
    /* width: 60%; */
    text-align: left;
    list-style-type: none;
    z-index: 5;
}

.footer-links li {
    /* border: 1px solid red; */
    display: flex;
    margin-top: 0.2em;
}

.footer-link-button> a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
}

.footer-link-button> a:hover {
    transform: scale(1.20);
    z-index: 1;
}

.footer-link-button:nth-child(3)> a:hover {
    transform: scale(1.05);
    z-index: 1;
}

.footer-link-button i {
    font-size: 0.7em;
    margin: auto 0.6em;
    margin-right: 1em;
}

footer hr {
    width: 95%;
    margin: 0 auto;
    border: 1px solid #e9c46a;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin: 0.2em 2.5% 0.6em 2.1%;
}

.socials {
    display: flex;
    margin: 0.3em 1em 0.3em 0;
} 

.socials a {
    color: white;
    transition: transform 0.3s ease;
}

.socials a:hover {
    transform: scale(1.35);
    z-index: 1;
}

.footer-bottom p {
    margin: auto 0;
}

@media (width<=1200px) {
    .footer-top {
        flex: 1 0 35%;
        flex-wrap: wrap;
        justify-content:space-around;
    }

    .footer, .footer-links {
        margin-bottom: 1em;
    }
}
