/* https://coolors.co/8d0801-bf0603-faa638-f4d58d */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

image {
    display: block;
    width: 100%;
    height: auto;
}

body {
    width: 100%;
    /* min-height: 100vh; */
    /* height: 400px; */
    margin: 0 auto;
    font: 14px/1.5 'Verdana', sans-serif;
    padding: 0;
}

header {
    height: 10vh;
    border-bottom: 1px solid #8d0801;
    box-shadow: 0 0px 10px rgb(141,8,1,0.3);
    background-color: #f4d58d;
    color: #8d0801;
    padding: 10px 10%;
    display: flex;
    justify-content: space-around;
    padding: 1rem 1%;
}

ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
}

main {
    background-color: #faa638;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 20vh);
}

.project {
    /* border: 1px solid red; */
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    justify-content: space-around;
    align-items: center;
    color: #8d0801;
}

.project h2 {
    text-align: center;
}

label {
    display: inline-block;
    width: 150px;
    margin-bottom: 5px;
    text-align: right;
}

input {
    margin-bottom: 10px;
    border: 1px solid #8d0801;
}

input[type="text"], input[type="password"] {
    width: 150px; 
    height: 20px; 
    border-radius: 3px;
}


input[type="button"] {
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    font-size: 16px;
    border: 1px solid #8d0801;
    border-radius: 5px;
    color: #8d0801;
    background-color: #f4d58d;
    box-shadow: inset 0 0 10px rgb(0,0,0,0.3);
    transform-origin: center; 
    transition: transform 0.5s;
}

input[type="button"]:hover {
    transform: translateX(-50%) scale(1.1);
}

footer {
    height: 10vh;
    margin-top: auto;
    border-top: 0.5px solid #8d0801;
    box-shadow: 0 -10px 10px rgb(141,8,1,0.3);
    background-color: #f4d58d;
    color: #8d0801;
    display: flex;
    justify-content: space-around;
    padding: 2rem 10%;
}

hr {
    border: 0.5px solid #8d0801;
    background-color: #f4d58d;
    height: 5px;
    width: 70%;
    margin: 0 auto;
}

@media (width<400px) {
    header {
        text-align: center;
        align-items: center;
        flex-direction: column;
        height: 15vh;
        gap: 0;
    }
    header ul {
        margin: 0;
    }
    footer {
        flex-direction: column;
        align-items: center;
    }
}