/* https://coolors.co/8d0801-bf0603-faa638-f4d58d */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

image {
    display: block;
    width: 100%;
    height: auto;
}

body {
    width: 100%;
    /* height: 800px; */
    margin: 0 auto;
    font: 14px/1.5 'Verdana', sans-serif;
}

header {
    /* height: 10%; */
    border-bottom: 0.5px solid #333;
    box-shadow: 0 10px 10px rgb(0,0,0,0.3);
    background-color: #f4d58d;
    color: #8d0801;
    
}

main {
    width: 100%;
    background-color: #faa638;
}

.header-container {
    display: flex;
    justify-content: space-around;
    padding: 1rem 1%;
}

.header-links ul {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 1rem 0;
}

.header-links ul li {
    position: relative;
    top: 50%;
}

.main-container {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
}

.project {
    /* border: 1px solid red; */
    max-width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
    width: 100%;
    color: #8d0801;
}

.project-name {
    /* border: 1px solid green; */
    margin: auto auto;
    text-align: center;
}

label {
    display: inline-block;
    width: 150px;
    margin-bottom: 5px;
    text-align: right;
}

input {
    margin-bottom: 10px;
    border: 1px solid #8d0801;
}

input[type="button"] {
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 5px 15px;
    font-size: 16px;
    border: 1px solid #8d0801;
    border-radius: 5px;
    color: #8d0801;
    background-color: #f4d58d;
    box-shadow: inset 0 0 10px rgb(0,0,0,0.3);
    transform-origin: center; 
    transition: transform 0.5s;
}

input[type="button"]:hover {
    transform: translateX(-50%) scale(1.1);
}

/* .circle-button {
    background-color: #f4d58d;
    position: relative;
    width: 200px;
    height: 50px;
    padding: 20px;
    margin: 1rem auto;
    box-shadow: inset 0 0 10px rgb(0,0,0,0.3);
    border: 1px solid #333;
    border-radius: 50%;
    transition: transform 0.5s ease;
}

.circle-button:hover {
    transform: scale(1.2);
}

.circle-button a {
    display: flex;
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #333;
    text-decoration: none;
    font-size: 1.0rem;
} */



footer {
    width: 100vw;
    border-top: 0.5px solid #333;
    box-shadow: 0 -10px 10px rgb(0,0,0,0.3);
    color: #8d0801;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 1rem 20%;
}

hr {
    border: 0.5px solid #8d0801;
    background-color: #f4d58d;
    height: 5px;
    width: 70%;
}